<!DOCTYPE html>
<html>
<head>
<link href="style_ang.css" rel="stylesheet" />
<meta charset=utf-8 />
<title>AngularJS example</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
<script type="text/javascript" src="http://cdn.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
<script type="text/javascript" type="text/javascript"></script>

<script src="graph_ang_code.js"></script>
<script src="ros_ang_code.js"></script>

</head>
<body ng-app="app">
  <div id="logo"></div>
  <div id="cy"></div>
  
  <table id="people-table" ng-controller="PeopleCtrl">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Weight</th>
      </tr>
      <tr ng-repeat="person in people">
        <td>{{person.name}}</td>
        <td><input type="number" min="1" ng-model="person.weight" ng-change="onWeightChange(person)" /></td>
      </tr>
    </tbody>
  </table>


  <table id="okao-table" ng-controller="OkaoCtrl">
    <tbody>
      <tr ng-repeat="okao_id in okao_ids">
	<td>
	  Master ID:
	  <input type="number" ng-model="okao_id.id" min="1" max="20"/>
	  <button ng-click="onClick(okao_id)">Exec</button>
	  {{msg}}
	</td>
      </tr>
      <select ng-model="selectedTime" ng-options="time for time in times"></select>
    </tbody>
  </table>



</body>
</html>


